# Dependencies
node_modules
npm-debug.log

# Build output
dist
build

# Test coverage
coverage

# Version control
.git
.gitignore

# Environment variables
.env
.env.*

# IDE files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
docker-compose.yml
.dockerignore
